<?php

$slack_token = '{{Your Outgoing Integration Slack Token}}';
$web_api_token = '{{Your Web API Slack Token}}';

$database_host = 'localhost';
$database_username = 'user';
$database_password = 'pass';
$database_name = 'pumpfoos';
